.group-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.agency{ 
  width: 80%;
  margin: 10px;
 text-align: center;
  font-size: 24px;
  font-weight: bold;
 color: #4caf50;
border: 1px solid ;
border-radius: 15px;
padding: 40px;
}
.agency-logo{
   width: 50px;
   height: 50px;
   margin: 50px;
  padding: 10px;
  border-radius: 20%;
}
.item{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.agency-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}
 @media screen and (min-width: 762px) {
  .group-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .group-container h3{
      width: 100%;
      text-align: center;
    }
  
    .agency {
      width: 25%;
      margin: 10px;
      padding: 40px;
      height: 60vh;
    }.agency-details{

      width: 25%;
      margin: 60px;
      padding: 100px;
      height: 30vh;
    }.agency-logo{
      width: 220px;
      height: 220px;
      margin: 30px;
      padding: 10px;
     
    }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
